<div>
  <mat-card class="action">
    <mat-card-title>Enter the reservation ID:</mat-card-title>
    <mat-card-actions align="start">
      <input type="text" [(ngModel)]="reservationId">  &nbsp;
      <button mat-button (click)="getReservation()">Check Reservation</button> &nbsp;
    </mat-card-actions>
  </mat-card>
</div>
  <div class="container container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <table #dataTable class="display">
          <thead>
              <tr class="header">
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
                  <th>Reservation Id</th>
              </tr>
          </thead>
          <tbody>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
            <td>123</td>
          </tbody>
        </table>
      </div>

    </div>
  </div>