.action{
    background-color: cornflowerblue;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 45%;
    align-content: center;
}
.container{
    align-content: center;
}
.header{
    padding: auto;
}